.exam{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
textarea{
    outline: none;
    border: 1px solid #eee;
    margin-bottom: 20px;
    height: 145px;
    width: 375px;
    font-size: 25px;
    font-weight: bold;

}
input[type="button"]{
    padding: 5px 15px;
    border-radius: 9px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.myResult{
    font-size: 25px;
    width: auto;
    height: 50px;
    background-color: #eee;
    margin-top: 20px;
    color: #15b815;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    text-align: center;
    font-weight: bold;
    line-height: 1.9;
    padding: 0 20px;
}